.App {
  font-family: sans-serif;
  text-align: center;
}
/* コンテクストメニュー色 */
.context-menu {
  width: 150px !important;
}
.context-menu .item:hover {
  background-color: rgba(110, 136, 255, 1) !important;
}
/* サブメニューを持つコンテクストメニュー色 */
.context-menu .item.hasSubitems {
  background-color: rgba(110, 161, 255, 0.8) !important;
}
.context-menu .item.hasSubitems:hover {
  background-color: rgba(110, 161, 255, 1) !important;
}
/* サブメニュー色 */
.context-menu .item.hasSubitems .subitems .item {
  background-color: rgba(110, 161, 255, 0.8) !important;
}
.context-menu .item.hasSubitems .subitems .item:hover {
  background-color: rgba(110, 161, 255, 1) !important;
}
