body {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
/* コンテクストメニュー色 */
.context-menu {
  width: 150px !important;
}
.context-menu .item:hover {
  background-color: rgba(110, 136, 255, 1) !important;
}
/* サブメニューを持つコンテクストメニュー色 */
.context-menu .item.hasSubitems {
  background-color: rgba(110, 161, 255, 0.8) !important;
}
.context-menu .item.hasSubitems:hover {
  background-color: rgba(110, 161, 255, 1) !important;
}
/* サブメニュー色 */
.context-menu .item.hasSubitems .subitems .item {
  background-color: rgba(110, 161, 255, 0.8) !important;
}
.context-menu .item.hasSubitems .subitems .item:hover {
  background-color: rgba(110, 161, 255, 1) !important;
}

/* 初回ユーザ向け右クリックアイコン */
.rightClick {
  animation: rightClick 2.5s linear 0s 1;
  animation-iteration-count: infinite;
}
@keyframes rightClick {
  0% {
    transform: translate(0%, 0%);
  }
  5% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  25% {
    transform: translate(20%, 0%) rotate(20deg);
  }
  30% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  35% {
    transform: translate(-15%, 0%) rotate(-15deg);
  }
  45% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(15%, 0%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, 0%) rotate(-5deg);
  }
  65% {
    transform: translate(-7%, 0%) rotate(-7deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

/* スクロールバーを表示 */
.hasScrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.hasScrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* 行番号を表示 */
.line-numbers {
  counter-reset: line;
}
.container_editor_line_number:before {
  position: absolute;
  left: 0;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  counter-increment: line;
  content: counter(line);
  color: var(--vip-grey-60);
  letter-spacing: -1px;
}

/* checkboxのスタイル変更 */
.switchArea {
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  font-size: 13px;
  position: relative;
  margin: auto;
  width: 122px;
  background: grey;
}
.switchArea input[type="checkbox"] {
  display: none;
}
.switchArea label {
  display: block;
  box-sizing: border-box;
  height: 32px;
  border: 2px solid #545454;
  border-radius: 16px;
}
.switchArea input[type="checkbox"]:checked + label {
  border-color: #ffd92c;
}
.switchArea label span:after {
  content: "OFF";
  padding: 0 0 0 19px;
  color: #545454;
}
.switchArea input[type="checkbox"]:checked + label span:after {
  content: "ON";
  padding: 0 19px 0 0;
  color: #fff;
}
.switchArea .swImg {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #545454;
  top: 4px;
  left: 4px;
  border-radius: 12px;
  transition: 0.2s;
}
.switchArea input[type="checkbox"]:checked ~ .swImg {
  transform: translateX(90px);
  background: #ffd92c;
}
select {
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.1em 3.5em 0.1em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(0.7em + 2px),
    calc(100% - 15px) calc(0.7em + 2px), calc(100% - 2.5em) 0.1em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
select:focus {
  background-image: linear-gradient(45deg, #ffd92c 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #ffd92c 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 0.7em, calc(100% - 20px) 0.7em,
    calc(100% - 2.5em) 0.1em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: #ffd92c;
  outline: 0;
}
input[type="text"] {
  border-radius: 4px;
  border-color: initial;
  font: initial;
}
input[type="text"]:focus {
  border-color: #ffd92c;
  outline: 0;
}
input[type="number"] {
  width: 100%;
  border-radius: 4px;
  border-color: initial;
  font: initial;
}
input[type="number"]:focus {
  border-color: #ffd92c;
  outline: 0;
}
input[type="number"]:disabled {
  border-color: revert;
}
input::-webkit-calendar-picker-indicator {
  display: none !important;
}
textarea {
  width: 100%;
}
.jsonManagerInput .socket:before {
  content: "N";
  color: #fff;
  margin-left: 4.5px;
}
.jsonManagerInput .socket:hover:before {
  display: none;
}
.jsonManagerCtrl {
  display: flex;
}
.jsonManagerCtrlCategory {
  background: #545454;
  margin: 0;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.jsonManagerCtrlInputs {
  width: 200px;
}
.jsonManagerCtrlOutputs {
  width: 200px;
}
.jsonManagerCtrlInput {
  background: #fff;
  min-height: 100px;
}
.jsonManagerCtrlInputTitle {
  background: #96b38a;
  color: #fff;
  margin: 0;
}
.jsonManagerCtrlInputKey {
  margin: 2px 5px;
  display: inline-block;
  background: #6e88ff;
  color: #fff;
  border-radius: 5px;
  padding: 0 5px;
}
.jsonManagerCtrlInputKeyHover:hover {
  cursor: grab;
}
.jsonManagerCtrlOutputKey {
  margin: 2px 5px;
  display: inline-flex;
  align-items: center;
  background: #6e88ff;
  color: #fff;
  border-radius: 5px;
  padding: 0 5px;
}
.jsonManagerCtrlFunctions {
  background: #fff;
  min-height: 100px;
}
.jsonManagerCtrlHint {
  color: #fff;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.jsonManagerCtrlOutput {
  background: #fff;
  min-height: 100px;
}
.jsonManagerCtrlPreview {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}
.jsonManagerCtrlPreviewArea {
  flex-grow: 1;
  display: block;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}
.removeBtn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgba(255, 0, 80, 0.7);
  margin-left: 5px;
}
.removeBtn:hover {
  background: rgba(255, 0, 80, 1);
}
.removeBtn:before, .removeBtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.1rem;
  height: 0.8rem;
  background: #fff;
}
.removeBtn:before {
  transform: translate(-50%,-50%) rotate(45deg);
}
.removeBtn:after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
.closeBtn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #545454;
  margin-left: 5px;
}
.closeBtn:before, .closeBtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.1rem;
  height: 0.8rem;
  background: #fff;
}
.closeBtn:before {
  transform: translate(-50%,-50%) rotate(45deg);
}
.closeBtn:after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
.addBtn {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgba(255, 217, 44, 0.7);
  margin-left: 5px;
}
.addBtn:hover {
  background: rgba(255, 217, 44, 1);
}
.addBtn:before, .addBtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.1rem;
  height: 0.8rem;
  background: #fff;
}
.addBtn:before {
  transform: translate(-50%,-50%);
}
.addBtn:after {
  transform: translate(-50%,-50%) rotate(90deg);
}
.modalAddBtn {
  color: #767676;
  background-color: white;
  border: 1px solid #767676;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.1em 1em 0.1em 1em;
  margin-left: 5px;
}
.modalAddBtn:hover {
  border: 1px solid #ffd92c;
  cursor: pointer;
}
.jsonManagerModalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #545454;
  color: #fff;
  padding: 0 15px;
}
.jsonManagerModalContent {
  padding: 20px;
}
.modalFunction {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin: 10px 0; 
}
.modalFunctionTitle {
  background: #545454;
  color: #fff;
  padding: 5px 15px;
  margin: 0;
  font-weight: 600;
  display: inline-flex;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  justify-content: space-between;
  align-items: center;
}
.modalFunctionKey {
  margin: 10px 0;
}
.modalFunctionKeyTitle {
  display: inline-block;
  margin: 0 5px 0 10px;
}
.modalFunctionContent {
  display: inline-flex;
  align-items: center;
}
.modalFunctionContentInput {
  border: 1px solid #545454;
  width: 300px;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.1em 3.5em 0.1em 1em;
  margin: 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(0.7em + 2px),
    calc(100% - 15px) calc(0.7em + 2px), calc(100% - 2.5em) 0.1em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.modalFunctionContentInput:focus {
  background-image: linear-gradient(45deg, #ffd92c 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #ffd92c 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 0.7em, calc(100% - 20px) 0.7em,
    calc(100% - 2.5em) 0.1em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: #ffd92c;
  outline: 0;
}
.modalFunctionContentSymbol {
  margin: 0 10px;
  font-weight: 600;
}
